@{ Layout = "~/Areas/User/Views/Shared/_Layout.cshtml"; }

@model ResetPasswordViewModel

<form asp-action="ChangePassword" asp-controller="Account" method="post" id="frmResetPassword">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="card card-primary">
                <div class="card-body">
                    <input type="hidden" asp-for="Email" />
                    <div class="form-group">
                        <label asp-for="OldPassword">Old Password</label>
                        <div class="input-group mb-3">
                            <input asp-for="OldPassword" type="password" class="form-control" autocomplete="new-password">
                            <div class="input-group-append toggle-eye">
                                <span class="input-group-text">@*<i class="fa fa-fw fa-eye field_icon"></i>*@<i class="fa fa-eye fa-eye-slash field_icon"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">New Password</label>
                        <div class="input-group mb-3">
                            <input asp-for="Password" type="password" class="form-control" autocomplete="new-password">
                            <div class="input-group-append toggle-eye">
                                <span class="input-group-text">@*<i class="fa fa-fw fa-eye field_icon"></i>*@<i class="fa fa-eye fa-eye-slash field_icon"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm New Password</label>
                        <div class="input-group mb-3">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="new-password">
                            <div class="input-group-append toggle-eye">
                                <span class="input-group-text">@*<i class="fa fa-eye field_icon"></i>*@<i class="fa fa-eye fa-eye-slash field_icon"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary btn-block float-right" id="btn_client_save" data-usefor="edit">Change Password</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".toggle-eye", function () {
                var ele = $(this);
                ele.find("span>i:first-child").toggleClass("fa-eye-slash");
                //$($(".toggle-eye span>i:first-child")).toggleClass("fa-eye fa-eye-slash");
                var input = ele.parent().find("input:first-child");
                if (input.attr("type") === "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }

            });
        });
    </script>
}